@import '../../styles/abstract/abstract';
.portfolio{
    @include respond(gsm){
        grid-template-columns: auto;
        display: grid;
        gap: 3rem;
    }
    &_con{
        display: grid;
        gap: 4rem;
        @include respond(gsm){
            gap: 3rem;
        }
    }

}


.xplore{
   &_con{

   }
}