[class^="heading"] {
	display: inline-block;
	line-height: 1.3;

}

.heading {
	&_tiny {
		font-size: 14px;
		font-weight: $weight-1;
	}

	&_small {
		font-size: 16px;
		font-weight: $weight-1;
		@include respond(gsm){
			font-size: 1.6rem;
		}
	}

	&_med {
		font-size: 18px;
		font-weight: $weight-2;
	}
	&_avg{
		font-size: 20px;
		font-weight: $weight-2;
		@include respond(gsm){
			font-size: 1.9rem;
		}
	}
	&_med_1 {
		font-size: 24px;
		font-weight: $weight-2;
	}
	&_med_2 {
		font-size: 3.2rem;
		font-weight: $weight-2;
		@include respond(gsm){
			font-size: 2.9rem;
		}
	}
	&_lg {
		font-size: 3.6rem;
		font-weight: $weight-3;

		@include respond(gsm){
			font-size: 2.4rem;
		}

	}
	&_xl {
		font-size: 4.8rem;
		font-weight: $weight-3;
	}
	&_huge {
		font-size: 4.3rem;
		font-weight: $weight-3;
	}
}
.small {
	font-size: 13px;
}
.smaller {
	font-size: 11px;
	font-weight: $weight-3;
}


.weit {
	&-0{
		font-weight:200
	}
	&-1 {
		font-weight: $weight-1;
	}
	&-2 {
		font-weight: $weight-2;
	}
	&-21 {
		font-weight: 500;
	}
	&-3 {
		font-weight: $weight-3;
	}
}
