[class~="btn-"],
[class^="btn"] {
	font-size: 15px;
	@extend .cap;
	transition: $transition;

	&::first-letter{
		text-transform: uppercase;
	}
}
button {
	border: none;
	background-color: transparent;
}
.btn {
	&_small {
		padding: 6px 9px;
		&_1 {
			padding: 8px 10px;
		}
	}
	&_med {
		padding: .9em 1.3em;
	}
	&_wide {
		padding: 1.2em 3.5em;

	}
	&_wide_1 {
		padding: 1.2em 6em;

	}
	&_large {
		padding: 1em 2em;
		display: inline-block;
	}

	&_white {
		background-color: $col-white;
		border: 2px solid $col-bord-2;
	}
	&_txt {
		color: currentColor;
		&:hover {
			text-decoration: underline;
		}
	}
	&_uline {
		text-decoration: underline;
	}
	&_pri {
		color: $col-white;
		background-color: $col-pri-btn;

		&:hover {
			background-color: $col-pri-btn;
		}
	}
	&_pri_light{
		color: $col-pri;
		background-color: rgba($col-pri-light, 0.13)
	}
	&_gray_2 {
		@extend .bg-g-2;
		transition: 0.12s linear;
		&:hover {
			background-color: $col-bord-3;
		}
	}
	&_gray {
		background-color: $col-bord-2;
		&:hover {
			background-color: $col-gray-light;
		}
		&.active {
			color: $col-white;
			background-color: $col-pri;
		}
	}
	&_bord,
	&_blue
 {
		&,
		&:link,
		&:visited {
			transition: $transition linear;
		}
		
	}

	&_or {
		background-color: $col-or;
		color: $col-white;
		&:hover {
			background-color: darken($col-or, 5%);
		}
	}



	&_bord {
		border: 2px solid currentColor;

		&:disabled{
			opacity: .4;
			color:currentColor;
		}

		&.col-bl {
			border-color: $col-gray-btn-l;
		}
	}
	&_green {
		background-color: $col-green;
		color: $col-white;
		&:hover {
			background-color: darken($col-green, 5%);
		}
	}

	&_green_l{
		background-color: $col-green-light;
		color: $col-pri-1;
	}
	&_blue {
		background-color: $col-blue;
		color: $col-white;

		&:hover {
			background-color: darken($col-blue, 4%);
		}
		&:disabled {
			&,
			&:hover {
				background-color: $col-dis;
				color: white;
			}
		}
	}
	&_gold {
		background-color: $col-yell;
		color: $col-white;

		&:hover {
			background-color: darken($col-yell, 3%);
		}
	}

	&_red {
		background-color: $col-red-btn;
		color: $col-white;

		&_light{
			background-color: rgba($col-red, .1);
			color: $col-red;

		svg {
			stroke: $col-red;
		}
		}

		&:hover {
			background-color: darken($col-red-btn, 6%);
		}
	}
	&:disabled {
		background-color: $col-dis;
		color: $col-white;
	}
}

.btn_icon {
	display: flex;
	align-items: center;
	gap: 1rem;


	svg{
		@extend .tiny_svg;
	}
}

.close_button {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
}

.toggle_btn {
	&.big {
		.onoff {
			width: 11rem;
		}
	}
	&.disabled {
		pointer-events: none;
		cursor: not-allowed;

		.onoff {
			background-color: #666;
		}
	}
	input[type="checkbox"] {
		display: none;

		&:checked + .onoff {
			background-color: $col-green;

			&::before {
				transform: translate(-50%, -50%);
				left: calc(100% - 14px);
			}

			&::after {
				left: 10%;
			}
		}
	}
}
.onoff {
	display: inline-block;
	height: 30px;
	width: 55px;
	position: relative;
	background-color: #DEE2ED;
	cursor: pointer;

	&.disabled {
		opacity: 0.5;

		&::before {
			box-shadow: none !important;
		}
	}

	&.loading {
		pointer-events: none !important;
		background-color: $col-gray-svg !important;
		&.left{
			&::before {
				right: unset;
				left: 10% !important;
				transform: translateY(-50%) scaleX(1.3) !important;
			}

		}
		&.right{
			&::before {
				left: 47% !important;
				transform: translateY(-50%) scaleX(1.3) !important;
			}

		}
	}

	&:hover::before {
		box-shadow: 0 0 1px 10px rgba(#DEE2ED, 0.4);
	}

	&::before,
	&::after {
		transform: translateY(-50%);
		top: 50%;
		position: absolute;
		transition: 0.2s linear;
	}
	&::before {
		content: "";
		width: 22px;
		height: 22px;
		border-radius: 50%;
		background-color: $col-white;
		left: 4px;
	}

	&::after {
		content: attr(data-txt);
		text-transform: uppercase;
		color: $col-white;
		font-weight: $weight-2;
		font-size: 1.5rem;
		left: unset;
		right: 12%;
	}
}

