.code_card {
	display: inline-block;
	max-width: 35rem;
	overflow: hidden;
	& > * {
		padding: 2rem;
		justify-items: center;
	}
	&_img {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		img {
			transform: translateY(-50%);
		}
	}
	&_header {
		background-color: #ebf4ff;
		padding-bottom: 10rem;
	}
	&_body {
		background-color: #2e5285;
		position: relative;
		padding-top: 10rem;
		position: relative;
	}
	&_footer {
		align-items: center;
	}
}
