.img_prev {
	&_con {
		grid-auto-rows: 15rem;
	}
	&_item {
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		button {
			&,
			& > * {
				transition: 0.1s linear;
			}
			&:hover {
				svg {
					transform: scale(1.2);
				}
			}
		}
	}
	&_close {
		position: absolute;
		right: 1rem;
		top: 2rem;
		transform: translateY(-50%);
	}
}
