.modal {
	z-index: 10;
	margin: auto;
	display: block;

	& > * {
		margin: auto;
	}
}

.fixed_modal_pack {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9;
	bottom: 0;
	z-index: 8;
	left: calc(20rem);

	&.fill {
		left: initial;
	}
}
// .invoice_download_modal {
// 	width: 71.8rem;
// }

.form_u_cus_det,
.invoice_download_modal {
	width: 71.8rem;
}
.med_modal {
	width: 71.8rem;
}
.avg_modal{
	width: 57.5rem;
}
.failed_auth_modal {
	width: 32.7rem;
}

.whatsapp_num_modal {
	.form_input {
		width: 100%;
	}
	width: 51.6rem;
}

.small_modal {
	width: 45.6rem;
}
.map_modal {
	width: 80rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	.close_button {
		top: 1rem;
	}
	.form_pkg {
		padding: 3rem 2rem;
		padding-top: 2rem;
	}
	#map_box {
		overflow: hidden;
		border-radius: 0 5px 5px 0;
	}
}
