@import "../../styles/abstract/abstract";

.commodity_con{
    display: grid;
    gap: 3.4rem;

    &:last-child{
      margin-top: 3rem;
    }
    @include respond(gsm){
      gap: 3rem;
    }
}

.hr{
    --template: 1fr ;
    &::before{
        display: none;
    }
}

.comm_head_det{
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    @include respond(gsm){
      grid-template-columns: repeat(3,1fr);
    }
 & > div{
    display: grid;

  }

  & > div:not(:last-child){
    border-right: 1px solid $col-bord-2;
  }

  & > :not(:first-child){
    gap: 10px;
    padding-left: 2.5rem;
  }
}



.rec_tx_det{
  li{
    padding: 14px;

    &:not(:last-child){
      border-bottom: 1px solid $col-bord-1;
    }
  }
}
.details{
  &_header{
    @include respond(gsm){
      flex-direction: column;
      align-items: flex-start;
      gap: 1.7rem;
    }
  }
  &_pkg{
    @include respond(gsm){
      padding: 2rem;
    }
  }
}